.navbar {
  border-bottom: solid 1px #EBEBEB;
  background-color: white;
  height: 3.9rem;
  width: 48rem;
  margin: auto;
}

.bottom-tab-nav {
  border-top: solid 1px #EBEBEB;
}

.nav-link,
.bottom-nav-link {
  color: #000000;
}


.bottom-nav-link.active {
  color: #35bdb4;
}

.bottom-tab-label {
  font-size: 12px;
  color: #000000;
}
